.container {
    width: 640px;
    margin: auto;
    margin-top: 70px;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 23px;
    border-radius: 10px;
    padding: 10px 28px;
}

.border{
    border-top: 2px solid black;
    width: 30%;
}
.container h1{
    font-size: 30px;
}
.container h2 {
    font-size: 25px;
    font-weight: 600;
}

.container ul li {
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 15px;
    border: 1px solid black;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 21px;
    cursor: pointer;
}

.container button {
    margin: auto;
    background-color: tomato;
    color: white;
    font-size: 24px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    padding: 16px 43px 16px 41px;
    margin-top: -16px;
}

.index {
    margin: auto;
    font-size: 18px;
}

.container .correct{
background-color: rgb(147, 243, 147);
border-color: rgb(10, 112, 10);
}

.container .wrong{
    background: #e86178;
border-color: #ef233c;
}